<!DOCTYPE html>
<html lang="en">

<!--<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>-->

<head>
    <title>Inserimento documento</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../static/images/icons/favicon.ico"/>
    <!--richiama l'iconcina in alto vicino al title-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/vendor/select2/select2.min.css">
    <!--===============================================================================================	-->
    <link rel="stylesheet" type="text/css" href="../../static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/css/util.css">
    <!--i fogli di stile della grafica della form (colori forme ecc)-->
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <!--fogli di stile che mi determinano la posizione degli elementi della pagina web-->
    <!--===============================================================================================-->
</head>
<body>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="../../static/images/logoUni.png" width="100" height="100" class="navbar-brand">
            <input type="text" readonly id="welcome" class="navbar navbar-text" value="Benvenuto : "> </input>
        </div>

        <div class="navbar-nav navbar-expand-lg" >
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logOut">Logout</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login101 p-t-85 p-b-20">
            <div class="login100-form validate-form">

                <form class="login100-form validate-form" enctype="multipart/form-data"  id="idForm" method = "POST">
                    <span class="login100-form-title p-b-70">Nuovo Documento</span>

                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <span class="focus-input100" data-placeholder="I campi con * sono obbligatori"></span>
                </div>


                <div class="wrap-input100 validate-input m-t-85 m-b-35">

                    <input class="input100" type="text" name="TextPratica" id="NPratica" required>
                    <span class="focus-input100" data-placeholder="Numero di Pratica *"></span>
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <span class="focus-input100" data-placeholder="Data apertura pratica *"></span>
                    <br>
                    <br>
                    <input type="date" name="day" id="DataPratica" required>

                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <input class="input100" type="text" name="Committente" id="idCommittente" required>
                    <span class="focus-input100" data-placeholder="Committente *"></span>
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <input class="input100" type="text" name="Descrizione" id="idDescrizione">
                    <span class="focus-input100" data-placeholder="Descrizione"></span>
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <span class="focus-input100" data-placeholder="Provincia *"></span>
                    <br>
                    <br>
                    <select id="ListaProvince" name="Provincia">
                        <option value="" selected disabled>Scegli Provincia</option>
                    </select>
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <span class="focus-input100" data-placeholder="Comune *"></span>
                    <br>
                    <br>
                    <select id="ListaComuni" name="Comune">
                        <option value="" selected disabled>Scegli Comune</option>
                    </select>
                 </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <input class="input100" type="text" name="AltroLuogo" id="IdNewLuogo">
                    <span class="focus-input100" data-placeholder="Altro Luogo"></span>
                </div>



                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <span class="focus-input100" data-placeholder="Upload apertura pratica"></span>
                    <br>
                    <br>
                        <dl>
                            <p>
                                <input type="file" name="Documento_apertura" autocomplete="off" id="aperturaPratica">
                            </p>
                        </dl>
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <span class="focus-input100" data-placeholder="Upload fogli di lavoro"></span>
                    <br>
                    <br>
                        <dl>
                            <p>
                                <input type="file" name="Documento_foglio_lavoro" autocomplete="off" id="foglioLavoro" >
                            </p>
                        </dl>
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <input class="input100" type="text" name="NumCertificati" id="NCertificati" required>
                    <span class="focus-input100" data-placeholder="Numero dei Certificati "></span>
                </div>
                <button type="button" id="bntNCertificat">Inserisci Certificati</button>


                                 <!-- button -->
                <div id="divbtn" class="container-login100-form-btn">
                    <input type="button" id="btnUpload" class="login100-form-btn"  onclick="submit_form()" hidden value = "Upload" />
                </div>

               </form>
            </div>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<!--librerie jquery -->
<script src="../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--  <script src="vendor/jquery/jquery-1.4.2.min.js"></script> -->
<!--===============================================================================================-->
<script src="../../static/vendor/redirect/jquery.redirect.js"></script>
<!--===============================================================================================-->
<script src="../../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../../static/vendor/bootstrap/js/popper.js"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../../static/vendor/daterangepicker/moment.min.js"></script>
<script src="../../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->

<!-- qui sono descritti tutti gli eventi che può vedere l'utente -->
<script src="../../static/js/Documento/OperationInsertDocument.js"></script>

</body>
</html>