<!DOCTYPE html>
<html lang="en">

<!--<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>-->

<head>
    <title>Elimina documento</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
    <!--richiama l'iconcina in alto vicino al title-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
    <!--===============================================================================================	-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/util.css">
    <!--i fogli di stile della grafica della form (colori forme ecc)-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!--fogli di stile che mi determinano la posizione degli elementi della pagina web-->
    <!--===============================================================================================-->
</head>
<body>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="../static/images/logoUni.png" width="1093" height="100" class="navbar-brand">
        </div>

        <div class="navbar-nav navbar-expand-lg" >
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logOut">Logout</a>
                </li>
            </ul>
        </div>

    </div>
                <input type="text" readonly id="welcome" class="navbar navbar-text" value="Benvenuto : "> </input>

</nav>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login101 p-t-85 p-b-20">
            <div>
                <span class="login100-form-title p-b-70">Elimina Documento</span>
                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <input class="input100" type="text" name="TextPratica" id="NPratica" required>
                    <span class="focus-input100" data-placeholder="Numero di Pratica"></span>
                </div>

                <div id="divbtn" class="container-login100-form-btn">
                    <button id="btnDelete" class="login100-form-btn">
                        Delete!
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<!--librerie jquery -->
<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--  <script src="vendor/jquery/jquery-1.4.2.min.js"></script> -->
<!--===============================================================================================-->
<script src="../static/vendor/redirect/jquery.redirect.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/bootstrap/js/popper.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/daterangepicker/moment.min.js"></script>
<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->

<!-- qui sono descritti tutti gli eventi che può vedere l'utente -->
<script src="../static/js/OperationeDeleteDocument.js"></script>

</body>
</html>