<!DOCTYPE html>
<html lang="en">

<!--<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>-->

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
    <!--richiama l'iconcina in alto vicino al title-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
    <!--===============================================================================================	-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/util.css">
    <!--i fogli di stile della grafica della form (colori forme ecc)-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!--fogli di stile che mi determinano la posizione degli elementi della pagina web-->
    <!--===============================================================================================-->
</head>
<body>
<nav class="navbar">
    <div class="container-fluid">
        <div class="nav">
            <img src="../static/images/logoUni.png" width="1093" height="100" class="navbar-brand">

        </div>
        <ul class="nav navbar-nav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/Contatti.html">Contatti <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logOut">Logout</a>
                </li>
            </ul>
        </ul>
    </div>
     <input type="text" id="welcome" readonly class="navbar navbar-text" value="Benvenuto:"> </input>
</nav>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-home100 p-t-5 p-b-20">
            <!--<form class="login100-form validate-form">-->
            <span class="login100-form-title p-b-70">
						Le operazioni disponibili:
					</span>

            <!-- button -->
            <div id="divbtn" class="container-login100-form-btn">
                <button id="GestioneDocumenti" class="login100-form-btn">
                    Gestione Documenti
                </button>

            </div>
            <br>

            <div id="divbtn" class="container-login100-form-btn">
                <button id="GestioneMateriali" class="login100-form-btn">
                    Gestione Materiali
                </button>

            </div>
            <br>

            <div id="divbtn" class="container-login100-form-btn">
                <button id="GestioneProve" class="login100-form-btn">
                    Gestione Prove
                </button>
            </div>
            <br>

            <div id="divbtn" class="container-login100-form-btn">
                <button id="GestioneStrutture" class="login100-form-btn">
                    Gestione Strutture
                </button>
            </div>
            <br>

            <div id="divbtn" class="container-login100-form-btn">
                <button id="userHandle" class="login100-form-btn">
                    Gestione utenze
                </button>
            </div>
            <br>
            <div id="divbtn" class="container-login100-form-btn">
                <button id="Query" class="login100-form-btn">
                    Ricerca
                </button>
            </div>
            <br>
            <div id="divbtn" class="container-login100-form-btn">
                <button id="Report" class="login100-form-btn">
                    Statistiche
                </button>
            </div>


        </div>
    </div>
</div>




<!--===============================================================================================-->
<!--librerie jquery -->
<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/redirect/jquery.redirect.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/bootstrap/js/popper.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/daterangepicker/moment.min.js"></script>
<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../static/js/Operation_home_Master.js"></script>

</body>
</html>