
<!DOCTYPE html>
<html lang="en">

<!--<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>-->

<head>
	<title>Sign Up</title>
	<meta charset="UTF-8">
	<!-- con questo comando con il tag width= device-width rendiamo la form adattabile alla larghezza del dispositivo e
	initial-scale = 1, mi garantisce che inizialmente non ci sia zoom e mi fa vedere la form bene, ATTENZIONE con device-width,
	potrei avere problemi con i dispositivi mobili quando si gira lo schermo quindi potremmo decidere di toglierlo-->
	<meta name="viewport" content="width=device-width, initial-scale=1">  
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/> <!--richiama l'iconcina in alto vicino al title-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================	-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css"> <!--i fogli di stile della grafica della form (colori forme ecc)-->
 	<link rel="stylesheet" type="text/css" href="css/main.css"> <!--fogli di stile che mi determinano la posizione degli elementi della pagina web-->
<!--===============================================================================================-->


</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" method="POST"> <!--action="http://localhost:8080/chat_db/Accedi"> <!--Su questa classe abbiamo un evento in jquery che fa una posta alla servlet che fa il login-->  
					<span class="login100-form-title p-b-70">
						Sign up  
					</span>
					
					
					<!-- input tex box del campo username -->
					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Invalid username"> 
						<input class="input100" type="text" name="username" id="jid">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>
					<!-- input tex box del campo password -->
					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="pwd" id="pass">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
					<!-- button -->
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="register">
							Register
						</button>
					</div>
					
					<!-- link a User o password dimenticati e registrazione -->
					<div id="messaggio"></div>
					<ul class="login-more p-t-190">
						<li class="m-b-8">
							<span class="txt1">
								Already have an account ?
							</span>

							<a href="index.html" class="txt2">
								Login
							</a>
						</li>

					</ul>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
<!--librerie jquery -->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--  <script src="vendor/jquery/jquery-1.4.2.min.js"></script> -->
<!--===============================================================================================-->
	<script src="vendor/redirect/jquery.redirect.js"></script>
<!--===============================================================================================-->
  	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
 <script data-require="jquery" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src='strophejs-1.2.15/strophe.min.js'></script>
<!-- muc plugin -->
<script src='strophejs-1.2.15/strophe.muc.js'></script>
<script src='../static/js/strophe.register.js'></script>

<script src="../static/js/scriptRegister.js"></script>

</body>
</html>